div
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="view")
        .pdl-cell(data-name="legend")
      div(data-type="render")
  style(type="text/css"): :stylus
    .pdl-layout > div[data-type=layout]
      display: flex
      justify-content: center
      align-items: center
      gap: 1em
      .pdl-cell[data-name=legend]
        height: 100%
    .pdl-layout.legend-bottom > div[data-type=layout]
      flex-direction: column
      .pdl-cell[data-name=legend]
        height: auto
